# CNU Environment Variables Sample
STUDENT_NAME=CloudStudent
STUDENT_EMAIL=student@nixversity.com
STUDENT_KEY=CNU-2026
ADMIN_PASSWORD=change_this_password
DB_USER=admin
DB_PASSWORD=cloudmaster
DB_NAME=cloudmaster

# IMPORTANTE: Cambia esta ruta por la ruta ABSOLUTA de tu carpeta /labs en tu Mac/Linux/Windows.
# Ejemplo Mac: /Users/tu_usuario/Projects/CloudMasterOS/labs
# Ejemplo Linux: /home/tu_usuario/CloudMasterOS/labs
LAB_CONTENT_PATH=/path/to/your/CloudMasterOS/labs
LAB_HOST_PATH=/path/to/your/CloudMasterOS/labs
